* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}



#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(5rem, 1rem + 5vw, 30rem);
  padding: .5rem;
}

#container #section1 {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

#section1 .timer {
  display: flex;
}

.timer p {
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;

}

#section1 .controls {
  display: flex;
  gap: 4rem;
}

.controls button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3.2rem;
}

.card {
  border-radius: 2.4rem;
  padding: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 2rem;
  max-width: 14rem;
  max-height: 15rem;
}

.theme-changer {
  position: absolute;
  top: 6rem;
  right: 6rem;
}

.theme-changer .enabled {
  display: block !important;
}

.theme-changer button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.light-theme {
  background: #FFF;
}

.dark-theme {
  background: #121214;
}

.light-theme .timer p {
  color: #323238;
}

.dark-theme .timer p {
  color: #FFF;
}

.light-theme #section1 .controls button svg path {
  fill: #000;
}

.dark-theme #section1 .controls button svg path {
  fill: #C4C4CC;
}

.light-theme #section2 .card {
  background: #E1E1E6;
}

.dark-theme #section2 .card {
  background: #29292E;
}

.light-theme #section2 .card svg path {
  fill: #323238;
}

.dark-theme #section2 .card svg path {
  fill: #C4C4CC;
}

.light-theme #section2 .enabled {
  background: #02799D;
}

#section2 .enabled:hover {
  padding: 1rem;
}

#section2 .enabled:hover .volume {
  display: block;
}

.dark-theme #section2 .enabled {
  background: #0A3442;
}

.enabled svg path {
  fill: #FFF
}

.volume {
  display: none;
}

.volume .volume-range {
  /* Estilize a barra do controle deslizante */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: .5rem;
  border-radius: .5rem;
  background: #FFF;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
}

.volume-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
}